NEXT_PUBLIC_STRIPE_PUBLIC_KEY = "pk_test_51NjhAGE8z6GTOxFEcV8Vtd0r86kgLw1ojWPlr9NOWr4uIgbtG0u2njQ6KAwTXngeaLErCLfdPZHhie7ybBIsULyB00qMgoZKgH"
NEXT_PUBLIC_STRIPE_SECRET_KEY = "sk_test_51NjhAGE8z6GTOxFEZBf7zyeKqsYU0Hh3SJbPnBQC5DJnHkIDkhitLFD5Ff1EhFxIRXZdBqQHIejauu3lNrChbFSl00LMvI8Pcu"
NEXT_PUBLIC_STRIPE_WEBHOOK_SECRETKEY= "whsec_MiVFQTqc4rNsc63yqjCqkduWtWBfbp8H"
NEXT_PUBLIC_PRIVATE_KEY = "474c7a61d9879fb07a190b39c3f4b0da19cca7d577f5e9bf42d765dd7599e105"
NEXT_PUBLIC_STRIPE_KEY = "pk_live_51OuHzj07ruB638nVVRTYOfj4ZPJxT4fQkABgwa39rg1OO6tatPq9LD3AckeraagentwxJo5VDGzK10YCSWIORfe700oQNGtYqO"
NEXT_PUBLIC_STRIPE_SECRET_KEY = "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"